html, body {
   font-family: 'Lato', sans-serif;
}

.wrapper {
   min-height: 100%;
   width: 100%;
   overflow: hidden;
}

.container {
   margin: 0 auto;
   padding: 0 15px;
   max-width: 1260px;
}

.button {
   font-weight: 700;
   line-height: 52px;
   letter-spacing: 0.5px;
   color: #FFFFFF;
   background: linear-gradient(55.95deg, #FF3F3A 0%, #F75E05 100%);
   border-radius: 4px;
   padding: 0px 40px;
   white-space: nowrap;
}

/*-----------------------------------------------------------*/
/*-----------------------------------------------------------*/

.header {
   font-weight: 700;
}

.header__top-inner {
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding: 20px 0;
}

.header__logo {
   margin-right: 60px;
}

.header__nav {
   margin-right: auto;
}

.header__nav-list {
   display: flex;
}

.header__nav-item {
   margin-right: 40px;
}
.header__nav-item:last-child {
   margin-right: 0;
}

.header__nav-link {
   line-height: 1.6;
   color: #424551;
   white-space: nowrap;
}

.header__btn-box {
   display: flex;
   align-items: center;
}

.header-btn {
   margin-right: 36px;
}

.header__user-nav {
   position: relative;
   padding-left: 28px;
}

.header__user-nav::before {
   content: '';
   display: block;
   width: 20px;
   height: 20px;
   top: 50%;
   left: 0;
   transform: translateY(-50%);
   position: absolute;
   background: url("../img/logo/user.svg") no-repeat;

}

.header__user-btn {
   white-space: nowrap;
   line-height: 1.6;
}